#popup-link{

}
#popup-bg {
    position: fixed;
    display: none;
    z-index: 99999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;  
    
}

#popup {
    border: 1px white solid;
    width: 90%;
    height: 80%;
    min-height: 600px;
    margin: auto auto;
    background-color: white;
}

.darken {
    background: rgba(0, 0, 0, 0.7);
}

#popup-iframe {
    border: 0;
}
#popup-close{
    color:whitesmoke;
    font-size:18pt;
}